/**  color palette
 *header bg     | #02243c - dark blue
 *article bg    | #f2f4f5 - almost white 
 *article border| #a7b3bb - blue 
 *article border| #a7b3bb - blue
 *aside border  | #cfd6da - light blue
 *footer bg     | #02333c - dark green
 */
     
/**
*Resets
*/
*{margin:0; padding:0;}
body{font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;}
.right{float:right;}
.left{float:left;}
a{text-decoration:none;}
ol, ul{list-style-position:inside;}
a img{border:0 none;}
#skip-link a:link, 
#skip-link a:visited {
  background:#FFFFFF;
  font-size:80%;
  font-weight:bold;
  left:auto;
  padding:0 5px;
  position:absolute;
  text-align:right;
  text-decoration:none;
  top:-99em;
}

/**
*basic typography + resets
*/
h2 {
  font-size:22px;margin:0 0 5px;
}
div.aside h2 {
  font-size:18px;
  margin:0 0 5px;
}
p {
line-height:25px;
}
a,  
a:visited {
  border-bottom:1px dotted #0A88AF; 
  color:#07637F;text-decoration:none;
}
a:hover {
  border-bottom:1px solid #0A88AF; 
  color:#000;
  text-decoration:none;
}
div#footer a {
  color:#7F7F7F;
}
ul {
  margin:10px 0 0 0
}
ul li {
  margin:10px 5px;
}
ul li span {
  font-size:12px;
}
pre {
  background:#E0E5EF;
  border:1px solid #95989F;
  padding:8px;
}

/*
main styles
*/
div#page-wrap{
  background: url(images/page-wrap-bg.jpg) repeat-y;  
  margin:0  auto;
  width:960px;
}

div#header{
  background:#02243c;
  color:#fff;
}

h1#site-name a{
  border:none;
  border-right:2px solid #02243c;
  color:#fff;
  font-size:55px;
  margin:0 0 21px 0;
  padding:0 20px;     
}
h1#site-name  a:hover{
  background:#002F4F;
  border-right:2px solid #fff;  
}
span.site-slogan{
  color:#CFD6DA; 
  font-size:15px;
  text-transform:lowercase
}
.block ul {
  padding:0;
  margin: 0; 
}
div#block-system-main-menu ul.menu li {
  color:#000;
  list-style-image:none;
  list-style-type: none;
  z-index:100;   
}
div#block-system-main-menu ul.menu li{
  float:left;
  margin:0;  
  position: relative; 
}	
div#block-system-main-menu ul.menu li a {
  border:0 none;
  color: #ffffff; 
  display: block;	
  padding: 5px 13px;	 
  text-decoration: none;
  text-transform: uppercase;	
}
div#block-system-main-menu ul.menu li a:hover{
  background: #07607F; 
  border-top:1px solid #fff;
  color: #ffffff;  
  margin:-1px 0 0;
}
div#block-system-main-menu ul.menu li a.active{  
  background:#07607F;
  border-top:none;  
  margin:0;
}
div#block-system-main-menu li ul { 
  background:#02243C;
  display: none;
  font-size:15px; 
  position: absolute; 
  width:125px;
}
div#block-system-main-menu li:hover ul {
  display:block;
}
ul.menu li.leaf, 
ul.menu li.expanded {
 padding:0;
}

/*
article main content
*/
div#main-content {
  width:630px;
  padding:15px;
}
div#main-content p {
  margin:10px 0;
}
div#main-content img {
  margin:10px;
}
      
/*
sidebar
*/
div.aside{
  padding:10px;
  width:260px;
}

/*
footer
*/
div#footer{
  background:#02333c scroll 0 0;
  clear:both;
  color:#fff;  
  font-size:12px;
  margin:10px 0 0 0;
  padding:5px;  
}
div.footer-section{
  width:250px;
}

